{% extends "layout.twig" %}
{% block title %}后台首页{% endblock %}
{% block body %}
<h1>Hello</h1>
<h1>{{__APP__}}</h1>
<img src="/Index/pie">
<img src="/Index/tel">
<img src="/Index/bar">
{% endblock %}